@model MarketMvcProject.Models.Musteri

<h2>Yeni Müşteri Ekle</h2>

<form method="post">
    <label>Ad Soyad</label><br />
    <input type="text" name="AdSoyad" /><br /><br />

    <label>Email</label><br />
    <input type="email" name="Email" /><br /><br />

    <button type="submit">Kaydet</button>
</form>
