@{
    Layout = "_AdminLayout";
}

<h2>Admin Paneli</h2>

<p>Hoş geldin Admin, burası yönetim panelin.</p>



<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title">Raporlar</h4>
        <p class="card-text">
            Ürün, kategori ve fiyat raporlarını görüntülemek için aşağıdaki butonu kullanabilirsin.
        </p>
        <a class="btn btn-primary" asp-controller="Rapor" asp-action="UrunRapor">
            Ürün Raporunu Aç
        </a>
    </div>
</div>
