@model MarketMvcProject.Models.Siparis

<h2>Yeni Sipariş Ekle</h2>

<form method="post">
    <label>Müşteri</label><br />
    <select name="MusteriId">
        @foreach (var m in ViewBag.Musteriler)
        {
            <option value="@m.MusteriId">@m.AdSoyad</option>
        }
    </select><br /><br />

    <label>Ürün</label><br />
    <select name="UrunId">
        @foreach (var u in ViewBag.Urunler)
        {
            <option value="@u.UrunId">@u.UrunAdi</option>
        }
    </select><br /><br />

    <button type="submit">Kaydet</button>
</form>
